<!-- <div class="col-lg-12">
  <h2>Alerts</h2>
  <div class="bs-component">
    <div class="alert alert-warning">
      <h4>Warning!</h4>
      <p>Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, <a href="#" class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
    </div>
  </div>
</div> -->

<div id="welcome" class="rise purple col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
    <h2>Welcome!</h2>
    <p>We help you bring your pizza into harmony.</p>
    <a href="<%= new_account_path %>"><h3>Sign up, mothafucka!</h3></a>
</div>
