<!-- <div class="col-lg-12">
  <h2>Alerts</h2>
  <div class="bs-component">
    <div class="alert alert-warning">
      <h4>Warning!</h4>
      <p>Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, <a href="#" class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
    </div>
  </div>
</div> -->

<div id="welcome" class="rise purple col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
    <h2>Welcome!</h2>
    <p>We help you bring your pizza into harmony.</p>
    
    <div class="well">
V Crust                         ○ ○ ● ○ ○       <span style="color: #808080">I don't care.</span><br>
_ gluten-free                   ○ ○ ● ○ ○       <span style="color: #808080">I don't care.</span><br>
v Cheese                        ● ○ ○ ○ ○       <span style="color: red">I need it!</span><br>       
_ mozzarella                    ● ○ ○ ○ ○       <span style="color: red">I need it!</span><br>       
_ provolone                     ○ ○ ● ○ ○       <span style="color: #808080">I don't care.</span><br>
_ cheddar                       ○ ○ ● ○ ○       <span style="color: #808080">I don't care.</span><br>
_ parmesan                      ○ ○ ● ○ ○       <span style="color: #808080">I don't care.</span><br>
v Sauce                         ● ○ ○ ○ ○       <span style="color: red">I need it!</span><br>       
_ red                           ● ○ ○ ○ ○       <span style="color: red">I need it!</span><br>       
_ white                         ○ ○ ● ○ ○       <span style="color: #808080">I don't care.</span><br>
_ pesto                         ○ ○ ● ○ ○       <span style="color: #808080">I don't care.</span><br>
v Meat                          ○ ○ ● ○ ○       <span style="color: #808080">I don't care.</span><br>
_ pepperoni                     ○ ● ○ ○ ○       I want it.<br>
_ Italian sausage               ○ ○ ● ○ ○       <span style="color: #808080">I don't care.</span><br>
_ salami                        ○ ○ ● ○ ○       <span style="color: #808080">I don't care.</span><br>
_ meatball                      ○ ○ ● ○ ○       <span style="color: #808080">I don't care.</span><br>
_ ham                           ○ ○ ● ○ ○       <span style="color: #808080">I don't care.</span><br>
_ bacon                         ○ ○ ● ○ ○       <span style="color: #808080">I don't care.</span><br>
_ chicken                       ○ ○ ● ○ ○       <span style="color: #808080">I don't care.</span><br>
_ beef                          ○ ○ ● ○ ○       <span style="color: #808080">I don't care.</span><br>
_ pork                          ○ ○ ● ○ ○       <span style="color: #808080">I don't care.</span><br>
_ anchovies                     ○ ○ ● ○ ○       <span style="color: #808080">I don't care.</span><br>
v Fruits/Veggies                ○ ○ ● ○ ○       <span style="color: #808080">I don't care.</span><br>
_ black olives                  ○ ○ ● ○ ○       <span style="color: #808080">I don't care.</span><br>
_ mushrooms                     ○ ○ ● ○ ○       <span style="color: #808080">I don't care.</span><br>
_ pineapple                     ○ ○ ● ○ ○       <span style="color: #808080">I don't care.</span><br>
_ cherry peppers                ○ ○ ● ○ ○       <span style="color: #808080">I don't care.</span><br>
_ red onions                    ○ ○ ● ○ ○       <span style="color: #808080">I don't care.</span><br>
_ spinach                       ○ ○ ● ○ ○       <span style="color: #808080">I don't care.</span><br>
_ diced roma tomatoes           ○ ○ ● ○ ○       <span style="color: #808080">I don't care.</span><br>
_ sliced jalapeño peppers       ○ ○ ● ○ ○       <span style="color: #808080">I don't care.</span><br>
_ green bell peppers            ○ ○ ● ○ ○       <span style="color: #808080">I don't care.</span><br>
_ sliced banana peppers         ○ ○ ● ○ ○       <span style="color: #808080">I don't care.</span><br>
    </div>
</div>
