<div class="rise purple col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">

  <h2>View Event</h2>

  <%= render "pizzas" %>
  
  <%= link_to "New Event", new_event_path, class: 'btn btn-primary' %>
  
</div>

<%= render "reddit" %>
