<div class="rise purple col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">

  <h2>Friends</h2>
  
  <%= render "shared/flash" %>
  
  <ul>
    <% @friends.each do |friend| %>
      <li><%= friend.person.name %></li>
    <% end %>
  </ul>
  
</div>
