
//// Variable overrides
//$grid-float-breakpoint:                     768px;

$font-family-sans-serif:    "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
// $font-family-serif:       Georgia, "Times New Roman", Times, serif;
$font-family-monospace:     DejaVu Sans Mono, Menlo, Monaco, Consolas, monospace;
//$font-family-base:          $font-family-sans-serif;
$font-family-base:          Arimo, Merriweather Sans, "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
// $font-size-base:           15px;

$body-bg:                   orange;

$border-radius-small:                       3px;
$btn-border-radius-small:                   4px;

//** Global textual link color.
$link-color:                                #FFFF80;
$link-hover-color:                          yellow;
//$link-hover-decoration:                   underline;

$navbar-height:                             80px;
// $line-height-computed:                      floor(($font-size-base * $line-height-base)); // no change, just defining it so I can use it
// $navbar-padding-vertical:                   (($navbar-height - $line-height-computed) / 4);

$navbar-default-color:                      white;
$navbar-default-bg:                         red;
$navbar-default-border:                     mix(black, $navbar-default-bg, 18%);

$navbar-default-link-color:                 white;
$navbar-default-link-hover-color:           yellow;
// $navbar-default-link-hover-bg:           transparent;
$navbar-default-link-active-color:          $navbar-default-link-hover-color;
// $navbar-default-link-active-bg:          transparent;
$navbar-default-link-disabled-color:        #808000;
// $navbar-default-link-disabled-bg:        transparent;

// $font-size-twelvish:                        0.85714285714285714285714285714286em;
// $line-height-twelvish:                      17.142857142857142857142857142857px;


//// New variables
// $app-bg-color:                              #FC0;
// $navbar-font-size:                          1.1428571428571428571428571428571em;
$navbar-link-side-margin:                   0px; //5px;
$navbar-link-border-radius:                 25px;
$navbar-link-border-radius-collapsed:       20px;
$app-navbar-brand-logo-height:              60px;

$app-red:                                   #FF4136;
$app-orange:                                #FC0;
$app-purple:                                #9002B8;

//// And overrides again
$body-bg:                                   $app-orange;
$navbar-default-bg:                         $app-red;
