// components
$font-size-large-ish:                       floor(($font-size-base * 1.15)) !default; // ~16px

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
{
    color: inherit;
}
h1, h2, h3, .h1, .h2, .h3
{
    &:not(.no-cursive)
    {
        font-family: Pacifico, Quicksand, serif;
    }
}
h2, .h2
{
    margin-bottom: $line-height-computed;
}
h3, .h3
{
    margin-top: ($line-height-computed / 2);
}
h4, h5, h6, .h4, .h5, .h6
{
    font-weight: 700;
    margin-top: 15px;   // TODO: Find/create an appropriate variable with the same value
    margin-bottom: 0;
    
    &:first-child
    {
        margin-top: 0;
    }
}

.rise, .well
{
    *:last-child
    {
        margin-bottom: 0;
    }
}

br
{
    line-height: 0;
}

.form-inline
{
    .form-group
    {
        margin-left: 0;
        margin-right: 0;
    }
}

select > option.disabled
{
    color: #999999;
}

.rise   // like a well, but opposite
{
    @import "rise";
    // background-color: #288EDF;
    // border-color: #2074B6;
    // border-radius: 4px;
    // border-style: solid;
    // border-width: 1px;
    // box-shadow: 0px 1px 1px 1px rgba(255, 255, 255, 0.36) inset, 0px -1px rgba(0, 0, 0, 0.18) inset, 0px 2px rgba(0, 0, 0, 0.05);
    // box-sizing: border-box;
    // color: #FFF;
    // margin-bottom: 20px;
    // padding: 19px;
    // // text-shadow: rgba(0, 0, 0, 0.36) 0px -1px 0px;
}
.rise-sm-round, .rise-sm
{
    padding: 9px;
}
.rise-sm
{
    border-radius: $border-radius-small;
}

@mixin color-well($fgcolor, $bordercolor)
{
    color: $fgcolor;
    border-color: mix(black, $bordercolor, 36%)  $bordercolor  mix(white, $bordercolor, 36%);
    background-color: rgba(255, 255, 255, 0.8);
}

@mixin color-rise($fgcolor, $bgcolor)
{
    color:            $fgcolor;
    background-color: $bgcolor;
    border-color:     mix(black, $bgcolor, 18%);
    //border-color:     darken($bgcolor, 18%);
    
    > .well
    {
        // color: initial;
        // @include color-well(initial, $bgcolor);  // stupid IE
        @include color-well(black, $bgcolor);
    }
    // .well
    // {
    //     color: black;
    // }
}

.rise.orange
{
    @include color-rise(white, $app-orange);
}
.rise.red
{
    @include color-rise(white, $app-red);
}
.rise.purple
{
    // @include color-rise(white, purple);
    @include color-rise(white, $app-purple);
}
.rise.black
{
    @include color-rise(white, #303030);
}

// define colors for different button states
@mixin app-radio-button-states($color, $background, $border) 
{
    $color-dark:      mix(black, $color, 40%);
    $background-dark: mix(black, $background, 50%);
    $border-dark:     mix(black, $border, 50%);
    
    $color-dim:       mix(black, $color, 25%);
    $background-dim:  mix(black, $background, 35%);
    $border-dim:      mix(black, $border, 35%);
    
    color:            $color-dark;
    background-color: $background-dark;
    border-color:     $border-dark;
    
    &:focus,
    &.focus 
    {
                   color: $color-dim;
        background-color: $background-dim;
            border-color: $border-dim;
    }
    &:hover 
    {
                   color: $color-dim;
        background-color: $background-dim;
            border-color: $border-dim;
    }
    &:active,
    &.active,
    .open > &.dropdown-toggle 
    {
                   color: $color;
        background-color: $background;
            border-color: $border;

        &:hover,
        &:focus,
        &.focus 
        {
                       color: $color;
            background-color: $background;
                border-color: $border;
        }
    }
}
.btn-default.radio-inline
{
    @include app-radio-button-states($btn-default-color, $btn-default-bg, $btn-default-border);
}
.btn-primary.radio-inline
{
    @include app-radio-button-states($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}
// Success appears as green
.btn-success.radio-inline
{
    @include app-radio-button-states($btn-success-color, $btn-success-bg, $btn-success-border);
}
// Info appears as blue-green
.btn-info.radio-inline
{
    @include app-radio-button-states($btn-info-color, $btn-info-bg, $btn-info-border);
}
// Warning appears as orange
.btn-warning.radio-inline
{
    @include app-radio-button-states($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}
// Danger and error appear as red
.btn-danger.radio-inline
{
    @include app-radio-button-states($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}


.margin-h-auto
{
    margin-left: auto;
    margin-right: auto;
}
