
//// Variable overrides
//$grid-float-breakpoint:                     768px;

$font-family-sans-serif:    "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
// $font-family-serif:       Georgia, "Times New Roman", Times, serif;
$font-family-monospace:     DejaVu Sans Mono, Menlo, Monaco, Consolas, monospace;
//$font-family-base:          $font-family-sans-serif;
$font-family-base:          Arimo, Merriweather Sans, "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
// $font-size-base:           15px;

$body-bg:                   #FC0;
// $text-color:             white;

//** Global textual link color.
$link-color:                                #FFC;
$link-hover-color:                          yellow;
//$link-hover-decoration:                   underline;

$navbar-default-color:                      white;
$navbar-default-bg:                         #FF4136;
$navbar-default-border:                     mix(black, $navbar-default-bg, 18%);

$navbar-default-link-color:                 white;
$navbar-default-link-hover-color:           yellow;
// $navbar-default-link-hover-bg:           transparent;
$navbar-default-link-active-color:          $navbar-default-link-hover-color;
// $navbar-default-link-active-bg:          transparent;
$navbar-default-link-disabled-color:        #808000;
// $navbar-default-link-disabled-bg:        transparent;


//// New variables
// $app-bg-color:                              #FC0;
$navbar-font-size:                          1.1428571428571428571428571428571em;
$navbar-link-side-margin:                   5px;
$navbar-link-border-radius:                 25px;
