
html, body
{
    width: 100%;
    // background-color: $app-bg-color;
}

#uber-container
{
    // width: 100%;
    max-width: 1032px;
}

.navbar
{
    z-index:                    9001;
}

nav#title
{
    margin: 0 auto 20px;
    // padding: 10px;
    height: 80px;
    padding: 0;
    
    &.rise
    {
        @include color-rise(#FFF, $navbar-default-bg);
    }
    
    .navbar-header
    {
        margin-bottom: 11px; // pushes collapse drop-down so it starts at bottom border
    }
    
    a.navbar-brand
    {
        padding-top: 0;
        padding-bottom: 0;
        
        .h1, img
        {
            color: $navbar-default-color;
            display: inline;
            // font-family: Pacifico, Quicksand, serif;
            // font-weight: bold;
            vertical-align: middle;
            margin: 0;
        }
    }
    
    a.navbar-brand:hover,
    a.navbar-brand:focus
    {
        .h1
        {
            color:              $navbar-default-link-hover-color;
            background-color:   $navbar-default-link-hover-bg;
        }
    }
    
    .nav-pad
    {
        padding-top: 10px;
        
        ul
        {
            margin-top: 5px;
        }
    }
    
    .navbar-right
    {
        margin-right: 15px;
    }
    
    ul.nav
    {
        li > a
        {
            margin: 0 $navbar-link-side-margin;
        }
        li > a:hover, li > a:focus
        {
            border-radius: $navbar-link-border-radius;
            border: $navbar-default-link-hover-color 2px solid;
            margin-right: $navbar-link-side-margin - 2;
            margin-top: -2px;
            margin-left: $navbar-link-side-margin - 2;
        }
    }
    
    .navbar-toggle
    {
        margin-top: 12px;  // 8px + 5 - 1
        border-radius: 15px;
        border-width: 2px;
        border-color: transparent;
        
        .icon-bar
        {
            background-color: $navbar-default-color;
        }
    }
    .navbar-toggle:hover, .navbar-toggle:focus
    {
        background: none;
        
        border-color: $navbar-default-link-hover-color;
        .icon-bar
        {
            background-color: $navbar-default-link-hover-color;
        }
    }
}

#title-nav
{
    font-size: $navbar-font-size;
    font-weight: 700;
}

@media (max-width: $grid-float-breakpoint-max)
{
    #title-nav.navbar-collapse
    {
        // @extend .rise;   // scope fail
        @import "rise";
        
        &  // mixin colors won't take without &{} wrapper
        {
            @include color-rise(white, $navbar-default-bg);
            padding-top:    0;
            padding-bottom: 0;
            border-top-width: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }
}

section#content
{
    z-index: 0;
    // font-weight: 700;
}
