
html, body
{
    width: 100%;
    // background-color: $app-bg-color;
}

#uber-container
{
    // width: 100%;
    max-width: 1032px;
}

// .navbar
// {
//     z-index:  9001;
// }

nav#title
{
    margin: 0 auto $line-height-computed;
    
    &.rise
    {
        @include color-rise(#FFF, $navbar-default-bg);
        padding: 0;
    }
    
    .navbar-toggle
    {
        border-radius: 15px;
        border-width: 2px;
        border-color: transparent;
        
        @include navbar-vertical-align(36px);
                
        .icon-bar
        {
            background-color: $navbar-default-color;
        }
        
        &:hover, &:focus
        {
            background: none;
                        
            border-color: $navbar-default-link-hover-color;
            .icon-bar
            {
                background-color: $navbar-default-link-hover-color;
            }
        }
    }
    
    .navbar-brand
    {
        padding-top: ($navbar-height - $app-navbar-brand-logo-height) / 2;
        padding-bottom: ($navbar-height - $app-navbar-brand-logo-height) / 2;
        margin-right: -30px; // allow some overlap
        
        .h1, img
        {
            color: $navbar-default-color;
            display: inline;
            vertical-align: middle;
        }
        .h1
        {
            white-space:  nowrap;
            margin: 0;
        }
        
        
    }
    .navbar-brand:hover,
    .navbar-brand:focus
    {
        .h1
        {
            color:              $navbar-default-link-hover-color;
            background-color:   $navbar-default-link-hover-bg;
        }
    }
    
    .login-out-msg
    {
        font-size: 0.85714285714285714285714285714286em;
        display: inline-block;
        padding: $navbar-padding-vertical $navbar-padding-horizontal;
        line-height: $line-height-computed;
        
        display: none;  // no time to make this play nice with narrow display
    }
    
    #title-nav
    {
        font-size: $navbar-font-size;
    }
    
    .navbar-nav
    {
        li > a.active-account-name
        {
            font-weight: 700;
        }
    }
}

@media (min-width: $grid-float-breakpoint) // navbar uncollapsed
{
    .navbar-nav
    {
        text-align: center;
        
        li > a
        {
            margin: ($navbar-padding-vertical / 2) $navbar-link-side-margin;
            padding: ($navbar-padding-vertical / 2) $navbar-padding-horizontal;
            
            &.active-account-name, &.account-sign-out,
            {
                display: inline-block;
                padding-top: 2.5px;       // TODREAM: refactor to use variables + math to reach the same value
                padding-bottom: 2.5px;    // TODREAM: refactor to use variables + math to reach the same value
            }
            &.active-account-name
            {
                margin-bottom: 0;
                margin-left: auto;
                margin-right: auto;
                
                &:hover, &:focus
                {
                    margin-bottom: -2px;
                }
            }
            
            &.account-sign-out
            {   
                padding-top: 0;
                margin-top: 0;
                font-size: 0.75em;
                
                &:hover, &:focus
                {
                    padding-top: 0;
                    margin-top: -2px;
                }
            }
        }
        li > a:hover, li > a:focus //, li > a.active-account-name:hover, li > a.active-account-name:focus
        {
            border-radius: $navbar-link-border-radius;
            border: $navbar-default-link-hover-color 2px solid;
            margin: ($navbar-padding-vertical / 2 - 2) ($navbar-link-side-margin - 2);
        }
        
        li > span
        {
            display: block;
            padding: $navbar-padding-vertical $navbar-padding-horizontal;
            line-height: $line-height-computed;
        }
        
        // .account-sign-in
        // {
        //     margin-right: $navbar-padding-horizontal;
        // }
    }
}

@media (max-width: $grid-float-breakpoint-max) // navbar collapsed
{
    .navbar-collapse
    {
        // @extend .rise;   // scope fail
        
        @import "rise";
        
        &  // mixin colors won't take without &{} wrapper
        {
            @include color-rise(white, $navbar-default-bg);
            padding-top:    0;
            padding-bottom: 0;
            margin: 0;
            border-top-width: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        
        .navbar-nav
        {
            .hide-when-collapsed
            {
                display: none;
            }
            
            li > a
            {
                display: inline-block;
                
                &.account-sign-out
                {
                    float: right;
                }
            }
            li > br
            {
                display: none;  // OMG hack LOL
            }
            
            li > a:hover, li > a:focus
            {
                border-radius: $navbar-link-border-radius-collapsed;
                border: $navbar-default-link-hover-color 2px solid;
                margin: -2px;
            }
        }
    }
}

section#content
{
    z-index: 0;
    // font-weight: 700;
}

///// topping prefs page /////

#topping-prefs-table
{
    width: 100%;
    
    tr:nth-child(odd)
    {
        background-color: transparent;
    }
    tr:nth-child(even), thead
    {
        background-color: rgba(255, 255, 255, 0.3);
    }
    
    tr
    {
        vertical-align: bottom;
    }
    
    td > .form-group
    {
        margin-bottom: 0;
        margin-top: 3px;
    }
    
    // td:first-child, td:nth-child(2)
    // {
    //     white-space: nowrap;
    // }
    // td:last-child
    // {
    //     width: 99%;
    // }
    
    td:nth-child(2)
    {
        margins: 0 auto;
    }
}
