
//// Variable overrides
//$grid-float-breakpoint:                     768px;

$navbar-default-color:                      #fff;
$navbar-default-bg:                         $state-danger-bg;
// $navbar-default-border:                     $state-warning-border;
$navbar-default-border:                     darken($navbar-default-bg, 10%);

$navbar-default-link-color:                 white;
$navbar-default-link-hover-color:           #FF0;
// $navbar-default-link-hover-bg:              transparent !default;
$navbar-default-link-active-color:          $navbar-default-link-hover-color;
// $navbar-default-link-active-bg:             transparent !default;
$navbar-default-link-disabled-color:        #808000;
// $navbar-default-link-disabled-bg:           transparent !default;
